@model ProductReviewAungAndBryant.Shared.Domain.PcPart

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h1>Create</h1>

<h4>PcPart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PcPartName" class="control-label"></label>
                <input asp-for="PcPartName" class="form-control" />
                <span asp-validation-for="PcPartName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PcPartPrice" class="control-label"></label>
                <input asp-for="PcPartPrice" class="form-control" />
                <span asp-validation-for="PcPartPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewId" class="control-label"></label>
                <input asp-for="ReviewId" class="form-control" />
                <span asp-validation-for="ReviewId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateUpdated" class="control-label"></label>
                <input asp-for="DateUpdated" class="form-control" />
                <span asp-validation-for="DateUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
